# Prisma Database URL
DATABASE_URL="postgresql://user:password@host:port/database"

# Next Auth (Auth.js)
AUTH_SECRET="your_secret_key_here_for_local_dev"
NODE_ENV="development"

# UploadThing
UPLOADTHING_TOKEN='your_uploadthing_token_here'

# Resend API
RESEND_API_KEY="re_your_resend_api_key_here"

# Google OAuth
GOOGLE_CLIENT_ID="your_google_client_id_here.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your_google_client_secret_here"
